Source: kate
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Sune Vuorela <sune@debian.org>,
           Norbert Preining <norbert@preining.info>,
Build-Depends: cmake (>= 3.1~),
               debhelper-compat (= 13),
               extra-cmake-modules (>= 5.79.0~),
               gettext,
               kinit-dev (>= 5.79.0~),
               kuserfeedback-dev,
               libkf5activities-dev (>= 5.79.0~),
               libkf5config-dev (>= 5.79.0~),
               libkf5crash-dev (>= 5.79.0~),
               libkf5dbusaddons-dev (>= 5.79.0~),
               libkf5doctools-dev (>= 5.79.0~),
               libkf5guiaddons-dev (>= 5.79.0~),
               libkf5i18n-dev (>= 5.79.0~),
               libkf5iconthemes-dev (>= 5.79.0~),
               libkf5itemmodels-dev (>= 5.79.0~),
               libkf5jobwidgets-dev (>= 5.79.0~),
               libkf5kio-dev (>= 5.79.0~),
               libkf5newstuff-dev (>= 5.79.0~),
               libkf5parts-dev (>= 5.79.0~),
               libkf5plasma-dev (>= 5.79.0~),
               libkf5service-dev (>= 5.79.0~),
               libkf5syntaxhighlighting-dev (>= 5.79.0~),
               libkf5texteditor-dev (>= 5.79.0~),
               libkf5textwidgets-dev (>= 5.79.0~),
               libkf5threadweaver-dev (>= 5.79.0~),
               libkf5wallet-dev (>= 5.79.0~),
               libkf5windowsystem-dev (>= 5.79.0~),
               libkf5xmlgui-dev (>= 5.79.0~),
               pkg-config,
               pkg-kde-tools (>= 0.15.15ubuntu1~),
               qtbase5-dev (>= 5.14.0~),
Standards-Version: 4.6.0
Rules-Requires-Root: no
Homepage: https://kate-editor.org/
Vcs-Browser: https://salsa.debian.org/qt-kde-team/kde/kate
Vcs-Git: https://salsa.debian.org/qt-kde-team/kde/kate.git

Package: kate
Section: editors
Architecture: any
Depends: kate5-data (>= ${source:Version}),
         ktexteditor-katepart,
         plasma-framework,
         qml-module-org-kde-kquickcontrolsaddons,
         qml-module-qtquick-layouts,
         qml-module-qtquick2,
         ${misc:Depends},
         ${shlibs:Depends},
Recommends: sonnet-plugins
Suggests: darcs,
          exuberant-ctags,
          git,
          khelpcenter,
          konsole-kpart,
          mercurial,
          subversion,
Description: powerful text editor
 Kate is a powerful text editor that can open multiple files simultaneously.
 .
 With a built-in terminal, syntax highlighting, and tabbed sidebar, it performs
 as a lightweight but capable development environment.  Kate's many tools,
 plugins, and scripts make it highly customizable.
 .
 Kate's features include:
 .
  * Multiple saved sessions, each with numerous files
  * Scriptable syntax highlighting, indentation, and code-folding
  * Configurable templates and text snippets
  * Symbol viewers for C, C++, and Python
  * XML completion and validation

Package: kate5-data
Architecture: all
Depends: ${misc:Depends}
Replaces: kate (<< 4:17.08.3-3~)
Breaks: kate (<< 4:17.08.3-3~)
Description: shared data files for Kate text editor
 This package contains the architecture-independent shared data files needed
 for Kate editor

Package: kwrite
Section: editors
Architecture: any
Depends: ktexteditor-katepart, ${misc:Depends}, ${shlibs:Depends}
Breaks: kate5-data (<< 4:17.08.3-3~)
Replaces: kate5-data (<< 4:17.08.3-3~)
Description: simple text editor
 KWrite is a simple text editor built on the KDE Platform. It uses the Kate
 editor component, so it supports powerful features such as flexible syntax
 highlighting, automatic indentation, and numerous other text tools.
